<!DOCTYPE html>
<html>
<head>
  <title>Gonnado</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.form-defaults' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="alertbox"></div>
  <div id="content">
	<div id="header">
		<span style="font-size:42px;">
			GONNADO
		</span>
		<br /><br /><br />
	</div>
    <%= yield %>
  </div>

</body>
</html>
